<section class="home-section">
   <article class="main-article">
         <p> Codecast homepage </p>

         <%= link_to "Criar um novo post", new_post_path %>
         <br>
         <%= link_to "Todos os post", posts_path %>
   </article>
</section>
