<div id="wrapper-categories-list">
   <div class="box-categories-list">
      <% @categories.each do |c| %>
         <%= link_to c do %>
            <article class="category-article" style="background-image: url(<%= c.image %>)">
                  <p><%= c.name %></p>
            </article>
         <% end %>
      <% end %>
   </div>
</div>
