<% provide(:title, 'Posts') %>
<div id="wrapper-posts">
   <div class="box-posts">
         <% @posts.each do |p| %>
            <article class="tile">
               <span class="post-tag"><%= p.tag %></span>
               <p class="title"><%= p.title %></p>
               <span class="created_at"><%= p.created_at.strftime("%b %d, %Y") %></span>
            </article>
         <% end %>
   </div>
</div>
