<%= provide(:title, @post.title) %>
<section class="show-post">
   <article class="show-article">
      <p><%= @post.title %></p>
      <p><%= @post.body %></p>
      <p><%= @post.tag %></p>
   </article>
</section>
