@import url(https://fonts.googleapis.com/css?family=Nunito);

/* set variables for fonts, colors and so on */

$main-font: "Helvetica Neue",sans-serif;
$secondary-font: 'Nunito', Arial;
$paragraph-font-family: Georgia,serif;

/*colors*/
$body-background-color: #F5F5F5;
$main-theme-color: #225EBF;
$font-color: #333;
