<header class="main-header">
   <img class="banner" src="http://wowcarry.com/wp-content/uploads/2015/09/logo_placeholder.png">
   <p>A website for developers and geeks!</p>
   <p>Code news everyday!</p>
</header>
