<header class="main-header">
   <article class="navigation">
      <img class="logo" src="http://wowcarry.com/wp-content/uploads/2015/09/logo_placeholder.png">
   </article>
   <article class="header-article">
      <p>A website for developers and geeks!</p>
      <p>Code news everyday!</p>
   </article>

</header>
