<header class="main-header">
   <article class="navigation">
      <div class="left">
         <a href="/"><img class="logo" src="http://wowcarry.com/wp-content/uploads/2015/09/logo_placeholder.png"></a>
      </div>
      <div class="right">
        <nav>
           <li>
              <%= link_to 'CATEGORIES', tags_path %>
           </li>
           <li>
              <a href="#">ABOUT</a>
           </li>
           <li>
             <a href="#">FEED</a>
           </li>
        </nav>
      </div>
   </article>
</header>
